:root {
  /* Base */
  --base-page-color: #ffffff;
  --base-font-color: #434455;

  /* Base Flexbox grid */
  --items: 4;
  --indent-vertical: 24px;
  --indent-horizontal: var(--indent-vertical);

  /* Base transition value */
  --time-transition: 250ms;
  --how-transition-timing-func: cubic-bezier(0.4, 0, 0.2, 1);

  /* Logo */
  --logo-first-color: #4d5ae5;
  --logo-second-color: #2e2f42;
  --footer-logo-second-color: #f4f4fd;

  /* Page WebStudio */
  /* Header */
  --header-nav-color: #2e2f42;
  --header-nav-hov: #404bbf;
  --header-address-color: #434455;
  --header-address-hov: #404bbf;

  /* Hero */
  --bg-hero: #2e2f42;
  --hero-title-color: #ffffff;
  --hero-button-color: #4d5ae5;
  --hero-button-hover-color: #404bbf;

  /* Values */
  --values-bg-svg: #f4f4fd;
  --values-title-color: #2e2f42;

  /* Avtivities */
  --activities-title-color: #2e2f42;

  /* Team */
  --team-bg: #f4f4fd;
  --team-title-color: #2e2f42;
  --bg-team-list-color: #ffffff;
  --team-names-color: #2e2f42;
  --team-icon-bg: #4d5ae5;
  --team-icon-hover-bg: #404bbf;
  --team-svg-color: #f4f4fd;

  /* Customers */
  --customers-item-color: #8e8f99;
  --customers-item-hover-color: #404bbf;

  /* Footer */
  --footer-bg: #2e2f42;
  --social-icon-color: #4d5ae5;
  --social-icon-hover-color: #31d0aa;

  /* Page Portfolio */
  /* Portfolio button-filter*/
  --portf-button-text-color: #4d5ae5;
  --portf-button-hover-text-color: #ffffff;
  --portf-button-bg: #f4f4fd;
  --portf-button-hover-bg: #404bbf;
  --portf-item-bg: #ffffff;
  --portf-item-name-color: #2e2f42;
  --portfolio-overlay-bg: #4d5ae5;

  /* Backdrop */
  --backdrop-bg: rgba(46, 47, 66, 0.4);

  /* Modal window */
  --modal-bg: rgba(252, 252, 252, 1);
  --modal-close-btn-bg: rgba(231, 233, 252, 1);
  --modal-close-icon-color: #2e2f42;
  --modal-close-btn-active-bg: rgba(64, 75, 191, 1);
  --modal-close-icon-active-color: #fff;
  --modal-send-btn-bg: #4d5ae5;
  --modal-send-btn-hover-bg: #404bbf;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/Roboto-Black.woff2") format("woff2"),
    url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src:
    url("../fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Base styles */
body {
  background-color: var(--base-page-color);
  color: var(--base-font-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Flexbox grid */
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-horizontal);
  column-gap: var(--indent-vertical);
}

.card-set-item {
  flex-basis: calc((100% - (var(--items) - 1) * var(--indent-vertical)) / var(--items));
}

/* Reset */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

/* Page WebStudio */
/* Section Header */
.header {
  border-bottom: 1px #e7e9fc solid;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  font-family: Raleway;
  text-transform: uppercase;
  color: var(--logo-first-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.header .logo-second-part {
  color: var(--logo-second-color);
}

.footer .logo-second-part {
  color: var(--footer-logo-second-color);
}

/* Header list */
.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
  padding: 24px 0px 24px 0px;
  position: relative;
}

.header-link {
  font-weight: 500;
  color: var(--header-nav-color);
  transition: color var(--time-transition) var(--how-transition-timing-func);
}

.active {
  color: var(--header-nav-hov);
}

.header .active::after {
  content: "";
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: #404bbf;
}

.header-link:hover,
.header-link:focus {
  color: var(--header-nav-hov);
}

/* Header address */
.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-mail,
.header-tel {
  color: var(--header-address-color);
  transition: color var(--time-transition) var(--how-transition-timing-func);
}

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  color: var(--header-address-hov);
}

/* Section Hero */
.hero {
  max-width: 1440px;
  background-color: var(--bg-hero);
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../image/hero/hero-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  padding: 188px 0 188px 0;
}

.hero-title {
  justify-content: center;
  color: var(--hero-title-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
}

.hero-button {
  padding: 16px 32px;
  background-color: var(--hero-button-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: none;

  /* text */
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color var(--time-transition) var(--how-transition-timing-func);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-hover-color);
}

/* Section Values */
.values {
  padding: 120px 0 60px 0;
}

.values__bg-svg {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--values-bg-svg);
}

.values__item-title {
  margin: 8px 0px 8px 0;
  color: var(--values-title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* Section Activities */
.activities {
  padding: 60px 0 120px 0;
}

.activities-title {
  margin-bottom: 72px;
  color: var(--activities-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.activities-list {
  --items: 3;
}

/* Section Team */
.team {
  padding: 120px 0;
  background-color: var(--team-bg);
}

.team__title {
  margin-bottom: 72px;
  color: var(--team-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.team__person {
  background-color: var(--bg-team-list-color);
  box-shadow:
    0px 2px 1px 0px #2e2f4214,
    0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}

.team__person-info {
  padding: 32px 16px 32px 16px;
}

.team__person-name {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--team-names-color);
}

.team__person-occupation {
  margin-bottom: 8px;
}

.team__person-name,
.team__person-occupation {
  text-align: center;
}

.team__icon svg {
  display: flex;
  fill: currentColor;
}
.team__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px;

  border-radius: 50%;
  border: none;

  background-color: var(--team-icon-bg);
  color: var(--team-svg-color);

  transition: background-color var(--time-transition) var(--how-transition-timing-func);
}

.team__icon:hover,
.team__icon:focus {
  background-color: var(--team-icon-hover-bg);
}

/* Section Customers */
.customers {
  padding: 120px 0;
}

.customers__title {
  margin-bottom: 72px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  color: #2e2f42;
}

.customers__list {
  --items: 6;
}

.customers__item {
  max-width: 168px;
  padding: 16px 31px;
  border-radius: 4px;
  border: 1px solid var(--customers-item-color);

  transition: border-color var(--time-transition) var(--how-transition-timing-func);
}

.customers__item:hover,
.customers__item:focus-within {
  border-color: var(--customers-item-hover-color);
  color: var(--customers-item-hover-color);
}

.customers__icon {
  fill: currentColor;
  color: var(--customers-item-color);

  transition: color var(--time-transition) var(--how-transition-timing-func);
}

.customers__item:hover .customers__icon {
  color: var(--customers-item-hover-color);
}

.customers__icon:focus {
  color: var(--customers-item-hover-color);
}

/* Section Footer */
.footer {
  padding: 100px 0;
  background-color: var(--footer-bg);
}

.footer-container {
  display: flex;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer .logo {
  display: block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

.footer-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.footer-list {
  display: flex;
  gap: 16px;

  fill: currentColor;
}

.footer-icon {
  display: flex;

  padding: 8px;
  background-color: var(--social-icon-color);
  border-radius: 50%;
  border: none;
  color: #f4f4fd;

  transition: background-color var(--time-transition) var(--how-transition-timing-func);
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--social-icon-hover-color);
}

/* Page Portfolio */
/* Section Portfolio-filter*/
.portfolio {
  padding: 96px 0px 120px 0px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 24px;

  margin-bottom: 72px;
}

.portfolio-button {
  padding: 12px 24px;

  border-radius: 4px;
  border: 1px solid #e7e9fc;
  background-color: var(--portf-button-bg);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--portf-button-text-color);

  transition:
    background-color var(--time-transition) var(--how-transition-timing-func),
    border-color var(--time-transition) var(--how-transition-timing-func),
    color var(--time-transition) var(--how-transition-timing-func),
    box-shadow var(--time-transition) var(--how-transition-timing-func);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--portf-button-hover-bg);
  border-color: var(--portf-button-hover-bg);
  color: var(--portf-button-hover-text-color);
  box-shadow:
    0px 2px 2px 0px #0000001f,
    0px 2px 1px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}

.portfolio-list {
  --items: 3;
  --indent-horizontal: 48px;
}

.portfolio-item {
  background-color: var(--portf-item-bg);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  padding: 40px 32px 0px 32px;
  width: 100%;
  height: 100%;

  background-color: var(--portfolio-overlay-bg);
  color: #f4f4fd;

  transform: translateY(100%);
  transition: transform var(--time-transition) var(--how-transition-timing-func);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus-within .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-link-text {
  padding: 32px 0px 32px 16px;

  border: 1px solid #e7e9fc;
  border-top: none;

  background-color: var(--portf-item-bg);

  transition:
    border-color var(--time-transition) var(--how-transition-timing-func),
    box-shadow var(--time-transition) var(--how-transition-timing-func);
}

.portfolio-item:hover .portfolio-link-text,
.portfolio-item:focus .portfolio-link-text {
  border-color: #f4f4fd;
  box-shadow:
    0px 2px 1px 0px #2e2f4214,
    0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

.portfolio-name {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--portf-item-name-color);
}

.portfolio-type {
  color: #434455;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: var(--backdrop-bg);

  transition:
    opacity var(--time-transition) cubic-bezier(0.4, 0, 0.2, 1),
    visibility var(--time-transition) cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  padding: 72px 24px 24px 24px;
  width: 408px;
  height: 584px;

  border-radius: 4px;
  background: var(--modal-bg);
  box-shadow:
    0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transition:
    opacity var(--time-transition) cubic-bezier(0.4, 0, 0.2, 1) var(--time-transition),
    transform var(--time-transition) cubic-bezier(0.4, 0, 0.2, 1) var(--time-transition);
}

.modal__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 24px;
  right: 24px;

  padding: 8px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--modal-close-btn-bg);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  stroke: currentColor;
  fill: currentColor;
  color: var(--modal-close-icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  border-color: var(--modal-close-btn-active-bg);
  background: var(--modal-close-btn-active-bg);
}

.modal__close-btn:hover .modal__icon {
  color: var(--modal-close-icon-active-color);
}

.modal__subtitle {
  text-align: center;

  margin-bottom: 16px;

  font-weight: 500;
  color: #2e2f42;
}

.modal__list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 8px;
}

.modal__form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;

  display: block;
  margin-bottom: 4px;

  color: #8e8f99;
}

.modal__user-input {
  position: relative;
}

.modal__form-input {
  display: block;
  width: 100%;

  border-radius: 4px;
  border: 1px solid #2e2f4266;

  padding: 8px 38px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 0;

  fill: currentColor;
  color: #2e2f42;

  transform: translateY(-50%) translateX(16px);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__user-input:focus-within .modal__form-icon {
  color: #4d5ae5;
}

.modal__form-comment {
  width: 100%;
  resize: none;

  border-radius: 4px;
  border: 1px solid #2e2f4266;

  padding: 8px 16px;
  margin-bottom: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus,
.modal__form-comment:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal__form-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.modal__send-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 66px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;

  border-radius: 4px;
  border: none;
  background: var(--modal-send-btn-bg);
  box-shadow: 0px 4px 4px 0px #00000026;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__send-btn:hover,
.modal__send-btn:focus {
  background: var(--modal-send-btn-hover-bg);
}
